body{
background-color:#B6B3B7; 
}
@media screen and (min-width: 769px){
	.wrapper{
	padding:20%;
	position:absolute;
	}
	#logo img{
	display: block;
	margin:auto;
	max-width: 60%;
	}
}
@media screen and (max-device-width:414px){
	.wrapper{
	padding:20%;
	position:absolute;
	}
	#logo img{
	display: block;
	margin:auto;
	max-width: 100%;

	}
}